/* Estilo para la cuadrícula */
.divCuadricula {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin-left: 20%;
  position: relative;
}

/* Estilo para las filas */
.divFila {
  display: flex;
  width: 100%;
}

/* Estilo para las casillas */
.divCasilla {
  width: 40px; 
  height: 40px;          
  border: 1px solid #ddd; 
  background-color: black;
  display: inline-block;
}



/* Cuando el ComeCocos coincide con la casilla, lo pintamos de rojo y le ponemos un tamaño */
.coincide {
  width: 40px;             
  height: 40px;            
  background-color: red;
}

/* Pintamos de negro las casillas que no coincidan con el come cocos */
.noCoincide {
  background-color: black;
}

/*Pintamos de azul los fantasmas*/
.fantasma {
background-color: blue;}