/* Estilo para las casillas en la cuadrícula */
.divCasillaCC {
  width: 40px;        /* Tamaño de cada casilla en la cuadrícula */
  height: 40px;       /* Tamaño de cada casilla en la cuadrícula */
  display: flex;
}

/* Estilo para las filas del ComeCocos */
.divFilaCC {
  display: flex;
}

/* Estilo para las casillas del ComeCocos */


/* Estilo para cuando una casilla coincide con el ComeCocos */
.coincide {
  background-color: yellow;  /* Color para las casillas que coinciden con el ComeCocos */
  border: 1px solid yellow;
  width: 40px;                /* Tamaño consistente con las casillas del ComeCocos */
  height: 40px;
}

/* Estilo para las casillas que no coinciden */
.noCoincide {
  background-color: black;  /* Color para las casillas que no coinciden */
  width: 40px;              /* Tamaño de cada casilla en la cuadrícula */
  height: 40px;             /* Tamaño de cada casilla en la cuadrícula */
  border: 1px solid white;
}