/* Estilo para la cuadrícula */
.divCuadricula {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin-left: 20%;  /* Centrado de la cuadrícula en la página */
  position: relative; /* Esto es importante para que los elementos posicionados con 'absolute' dentro de ella funcionen */
}

/* Estilo para cada fila dentro de la cuadrícula */
.divFila {
  display: flex;  /* Esto asegura que las casillas se alineen en línea */
  width: 100%;    /* Las filas ocupan todo el ancho disponible */
}

/* Estilo para cada casilla dentro de la cuadrícula */
.divCasilla {
  width: 40px;           /* Tamaño de cada casilla */
  height: 40px;          /* Tamaño de cada casilla */
  border: 1px solid #ddd; /* Borde ligero para cada casilla */
  background-color: black; /* Color de fondo para las casillas */
  display: inline-block;
}



/* Cuando el ComeCocos coincide con la casilla, le damos un color amarillo */
.coincide {
  width: 40px;             /* Tamaño de ComeCocos */
  height: 40px;            /* Tamaño de ComeCocos */
  background-color: red; /* Color amarillo para el ComeCocos */
}

/* Estilo cuando una casilla no coincide con el ComeCocos */
.noCoincide {
  background-color: black; /* Color de fondo para las casillas no seleccionadas */
}

.fantasma {
background-color: blue;}